 h1, h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

nav {
 font-family: "Times New Roman", Times, serif;
 text-align: left;
 }

body {
  background-image: url(images/wp3073328.jpeg) 
 }

 
 
 